.accountPage-container {
    text-align: center;
}

.accountPage-container h1 {
    font-family: 'Hello Dot Bot';
    font-size: 3rem;
}

.personal-info {
    font-size: 2rem;
    background-color: aliceblue;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 4px 4px 3px 0 black;
    padding: 0.5rem;
}