@font-face {
  font-family: 'KG I Like to Move';
  src: url('../fonts/KGILikeToMoveIt.ttf');
}

@font-face {
  font-family: 'KG Kindergarten';
  src: url('../fonts/KGMissKindergarten.ttf');
}

@font-face {
  font-family: 'Color Tube';
  src: url('../fonts/ColorTubePro.otf');
}

@font-face {
  font-family: 'KG Broken Vessels';
  src: url('../fonts/KGBrokenVesselsSketch.ttf');
}

@font-face {
  font-family: 'KG Second Chances';
  src: url('../fonts/KGSecondChancesSketch.ttf');
}

body {
  background-color: darkslategray;
  font-family: 'KG Kindergarten';
}

button {
  background-color: white;
  color: black;
  font-family: 'Century Gothic', AppleGothic;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 6px;
}
  
button:active {
  transform-style: all 1s ease;
  scale: 0.8;
}

button:hover {
  cursor: pointer;
    background-color: black;
    color: white;
}

input {
  
}