#logo-image {
    width: 50px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.home-header {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 2rem;
    box-shadow: 4px 4px 3px 0 black;
    max-width: 600px;
}

.home-header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-header p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 2rem;
}
  
.browse-button {
    background-color: #4682b4;
    color: aliceblue;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    max-width: 175px;
    margin: 0 auto;
}

.browse-button:active {
    transform-style: all 1s ease;
    scale: 0.8;
}
  
.browse-button:hover {
    background-color: #315f7b;
}
  