.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.search-container label {
    color: aliceblue;
    display: inline-flex;
    font-size: 1.5rem;
    vertical-align: top;
}

.search-input {
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 17px;
    font-size: 1rem;
    font-family: 'KG Kindergarten';
    width: 400px;
    text-align: center;
    background-color: aliceblue;
    color: #4682b4;
}
